/* Définition des polices personnalisées */
@font-face {
    font-family: "Italianno";
    src: url("polices/italianno/Italianno-Regular.ttf");
}

@font-face {
    font-family: "Jacques Francois";
    src: url("polices/jacques-francois/JacquesFrancois-Regular.ttf");
}

@font-face {
    font-family: "Jacques Francois Shadow";
    src: url("polices/jacques-francois-shadow/JacquesFrancoisShadow-Regular.ttf");
}

/* Style global du body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #001580;
    color: #FEFFC2;
}

/* Style du header */
header {
    text-align: center;
    padding: 20px;
    background-color: #001580;
}

/* Style de la navigation */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #FEFFC2;
    font-weight: bold;
}

/* Style des citations et titres */
.citation {
    font-family: "Italianno";
    font-size: 50px;
}

h1 {
    font-family: "Jacques Francois Shadow";
}

h2 {
    font-family: "Jacques Francois Shadow";
}

p {
    font-family: "Jacques Francois";
    font-size: 20px;
}

/* Sous-titres et texte ombré */
.sous-titre-classique {
    font-family: "Jacques Francois";
    font-size: 60px;
}

.text-ombre {
    font-family: "Jacques Francois Shadow";
    font-size: 20px;
}

/* Bouton de CV */
.cv-button {
    border: 1px solid #FEFFC2;
    padding: 5px 10px;
}

/* Contenu du header */
.header-content {
    margin-top: 100px;
    text-align: left;
}

.header-content h1 {
    margin: 10px 0;
    font-size: 5.625em;
}

.header-content h2 {
    margin: 10px 0;
    font-size: 40px;
}

.header-content p {
    margin-bottom: 1px;
}

/* Section citation */
.quote {
    font-style: italic;
    margin: 10px 0;
}

/* Section 'about' */
.about {
    padding: 40px 20px;
}

.about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.about-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px;
}

.about-content p {
    width: 45%;
    font-size: 1.2em;
    line-height: 1.5;
}

/* Style global du footer */
footer {
    background-color: #001580;
    color: #FEFFC2;
    padding: 40px 0;
}

footer section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

footer div {
    max-width: 340px;
}

footer ul, a{
    text-decoration: none;
    list-style-type: none;
    color: #FEFFC2;
    font-family: "Jacques Francois";
    font-size: 20px;
    padding: 0;
}

footer p{
    margin: 0;
}

