:root{
    --main-bg-color: #0F7188;
    --main-text-color: #FFFFFF;
}

/* Définition des polices personnalisées */
@font-face {
    font-family: "Italianno";
    src: url("polices/italianno/Italianno-Regular.ttf");
}

@font-face {
    font-family: "Jacques Francois";
    src: url("polices/jacques-francois/JacquesFrancois-Regular.ttf");
}

@font-face {
    font-family: "Jacques Francois Shadow";
    src: url("polices/jacques-francois-shadow/JacquesFrancoisShadow-Regular.ttf");
}

/* Style global du body */
body {
    display: flex;
    flex-direction: column;
    margin: 40px;
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    gap: 100px;
}

/* Style du header */
header {
    text-align: center;
    background-color: var(--main-bg-color);
}

.tkt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Style de la navigation */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: bold;
}

/* Style des citations et titres */
.citation {
    font-family: "Italianno";
    font-size: 50px;
}

h1 {
    font-family: "Figtree";
}

h2 {
    font-family: "Figtree";
}

p {
    font-family: "Figtree";
    font-size: 20px;
}

/* Sous-titres et texte ombré */
.sous-titre-classique {
    font-family: "Figtree";
    font-size: 40px;
}

.sous-titre{
    font-family: "Figtree";
    font-size: 60px;
}

.text-ombre {
    font-family: "Figtree";
    font-size: 20px;
}

/* Bouton de CV */
.cv-button {
    border: 1px solid var(--main-text-color);
    padding: 5px 10px;
}

/* Contenu du header */
.header-content {
    margin-top: 100px;
    text-align: left;
}

.header-content h1 {
    margin: 10px 0;
    font-size: 5.625em;
}

.header-content h2 {
    margin: 10px 0;
    font-size: 40px;
}

.header-content p {
    margin-bottom: 1px;
}

/* Section citation */
.quote {
    font-style: italic;
    margin: 10px 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/* Section 'about' */
.about {
    display: flex;
    gap: 90px;
    align-items: center;
    flex-wrap:wrap;
}

.about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: fit-content;
    max-width: 500px;
}

.annonce {
    display: flex;
    flex-direction: column;
    background-color: var(--main-text-color);
    color: black;
    padding: 10px;
    border-radius: 15px;
    width: fit-content;
    max-width: 500px;
}

.about-content p {
    width: 100%;
    font-size: 1.2em;
    line-height: 1.5;
}

/* Style global du footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 40px 0;
}

footer section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    display: flex;
    justify-content: center;
}

footer ul, a{
    text-decoration: none;
    list-style-type: none;
    color: var(--main-text-color);
    font-family: "Jacques Francois";
    font-size: 20px;
    padding: 0;
}

footer p{
    margin: 0;
}

.liste-comp{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.liste-comp > p{
    text-align: center;
}

.liste-comp ul{
    list-style-type: none;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 20px;
    right: 20px;
    object-fit: cover;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    gap: 100px;
}

.concevoir li{
    text-decoration: none;
}

.parcours{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.projets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn-site{
    border: 1px solid var(--main-text-color);
    padding: 5px 10px;
}

/* 
competences-articles {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
}
*/